* {
  font-family: "Inter", sans-serif;
  color: rgb(20, 20, 20);
}

body {
  background-color: rgb(255, 254, 178);
}

.main {
  background-color: rgb(255, 254, 178);
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  display: grid;
  grid-template-rows: 70px 3.6fr 47px 0.7fr 47px;
}

.top-bar {
  background-color: rgb(255, 185, 138);
  padding: 8px;
  display: grid;
  grid-template-columns: 120px 2px 1fr;
}

.logo-name {
  font-size: 30pt;
}

.logo-icon {
  width: 95%;
  margin-top: 4px;
}

.table-info {
  padding: 4px;
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
}

.table-name {
  font-size: 14pt;
  text-wrap: nowrap;
}

.tagline {
  font-size: 10pt;
  color: rgb(77, 77, 77);
  text-wrap: nowrap;
}

hr {
  border: 1px solid rgb(27, 27, 27);
}

.table-area {
  display: grid;
  grid-template-columns: 40px 1fr;
}

.days-panel {
  height: 100%;
  background-color: rgb(255, 178, 77);
  text-align: center;
  font-weight: bold;
  z-index: 1000;
}

.today-day {
  background-color: rgb(255, 139, 44);
}

.scroll-area {
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
}

.draw-area {
  width: 600px;
  height: 98%;
  position: relative;
}

.space {
  padding-left: 4px;
}
.start-pin {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 2px;
  height: 100%;
  background-color: rgb(52, 168, 81);
  text-align: center;
  padding-top: 8px;
  margin-left: 2px;
}

.time-mark {
  position: absolute;
  background-color: rgb(255, 52, 52);
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

.end-pin {
  position: absolute;
  top: 0px;
  left: 1200px;
  width: 2px;
  height: 100%;
  background-color: rgb(255, 0, 0);
  text-align: center;
  padding-top: 8px;
}

.static-pin {
  position: absolute;
  top: 0px;
  width: 0.1px;
  height: 100%;
  background-color: rgb(148, 148, 148);
  text-align: center;
  padding-top: 8px;
  padding-left: 1px;
}

.class-card {
  position: absolute;
  top: 17%;
  left: 0px;
  width: 200px;
  height: 17%;
  background-color: rgb(255, 139, 44);
  box-sizing: border-box;
  font-size: 11pt;
  padding-inline: 4px;
  padding-block: 2px;
  border: 1px solid rgb(247, 58, 0);
}

.class-card.mini {
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
}
.class-card.mini > .card-location {
  text-wrap: nowrap;
}

.class-card.now {
  border: 2px dashed rgb(255, 238, 0);
}

.class-card.not-hold {
  background-color: rgb(184, 184, 184);
  border: 0.1px solid rgb(92, 92, 92);
}

.card-title {
  font-weight: bold;
}

.on-going {
  background-color: rgb(52, 168, 81);
  padding-inline: 10px;
  padding-block: 4px;
}

.on-going.hide {
  background-color: rgb(116, 116, 116);
}

.upcoming {
  margin: 10px;
  border-radius: 8px;
  background: linear-gradient(150deg, rgb(255, 185, 138), rgb(255, 185, 138));
  padding: 10px;
}

.updates-button {
  border-width: 0px;
  border-radius: 9px;
  background-color: rgb(255, 139, 44);
  margin: 10px;
  margin-top: 0px;
  font-size: 14pt;
  color: rgb(31, 31, 31);
  font-weight: bold;
}

.bubble {
  background-color: rgb(31, 31, 31);
  padding-inline: 6px;
  padding-block: 2px;
  border-radius: 50%;
  color: rgb(255, 139, 44);
  font-weight: 500;
  margin-right: 6px;
  font-size: 12pt;
}

.text-minor {
  font-size: 14pt;
}

.text-major {
  font-size: 22pt;
  font-weight: bold;
}

.text-details {
  font-size: 10pt;
}

.modal-cover {
  opacity: 0.3;
  background-color: black;
  position: fixed;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  z-index: 1500;
}

.modal-cover.hide {
  visibility: hidden;
}

.modal {
  position: fixed;
  left: 9px;
  right: 9px;
  bottom: 8px;
  height: 300px;
  background-color: rgb(201, 201, 201);
  display: grid;
  grid-template-rows: 40px 1fr;
  border-radius: 8px;
  z-index: 2000;
  opacity: 1;
  transition: all 0.25s;
}

.modal.hide {
  opacity: 0;
  height: 50px;
  visibility: hidden;
}

.update-bar {
  background-color: gray;
  font-size: 14pt;
  color: rgb(31, 31, 31);
  font-weight: bold;
  text-align: center;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  padding: 6px;
}
.updates-area {
  overflow-y: scroll;
}
.update {
  margin-inline: 10px;
  margin-top: 8px;
  border-radius: 6px;
  background-color: rgb(255, 130, 0);
  padding-inline: 10px;
  padding-block: 8px;
  font-size: 18px;
}

.update.system-update {
  background-color: gray;
}

.update:last-child {
  margin-bottom: 8px;
}

.update-title {
  font-weight: bold;
}

.small-icon {
  width: 20px;
}

.icon-button {
  background-color: gray;
  border-width: 0px;
}

.day-saturday {
  display: table-row;
}

.day-saturday.hide {
  display: none;
}

.wait-screen {
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  background-color: rgba(255, 254, 178, 0.75);
  z-index: 2000;
}

.wait-screen.hide {
  display: none;
}

.load-gif {
  width: 40%;
  max-width: 180px;
  display: block;
  margin: auto;
  margin-top: 180px;
}
