* {
  font-family: "Inter", sans-serif;
  color: rgb(20, 20, 20);
}

.top-bar {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 40px;
  display: grid;
  grid-template-columns: 90px 1fr 30px;
  align-items: center;
  padding: 10px;
  background-color: rgb(255, 185, 138);
}

.logo {
  width: 100%;
}

.small-icon {
  width: 30px;
  border-radius: 4px;
  padding: 3px;
  margin-right: 5px;
}

.small-icon:hover {
  background-color: rgb(255, 164, 103);
}

.small-icon:active {
  background-color: rgb(255, 148, 77);
}

.title {
  text-align: left;
  font-size: 20pt;
  margin: 0px;
  margin-inline: 15px;
  align-self: last baseline;
}

.content {
  margin-top: 80px;
}

.p {
  margin-block: 5px;
}

h2 {
  margin-block: 5px;
}
